body{
	background-color: lightgoldenrodyellow ;
}

h1{
	font-size: 40px;
	color: yellowgreen;
}
h2{
	color: #FF00FF;
	font-size: 25px;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color: green;
}